@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

:root {
  --font-barcode: 'Libre Barcode 39 Text', system-ui;
  --size-1: 0.8rem;
  --size-2: 1.6rem;
  --size-3: 2.4rem;
  --size-4: 3.2rem;
  --size-5: 4rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: var(--size-2);
  font-weight: 400;
  font-style: normal;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

#logo {
  font-family: var(--font-barcode) !important;
  font-size: var(--size-3) !important;
  line-height: 1;
}

.container {
  width: 100%;
  padding-left: var(--size-2);
  padding-right: var(--size-2);
}

.user-menu svg {
  fill: white;
}

.pagination ul {
  justify-content: flex-end;
}

.table-select select {
  border: none;
  background-color: transparent;
}

.summary-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--size-4);
}

.summary-pie {
  min-height: 20rem;
  max-height: 24rem;
}

.summary-bar,
.summary-line {
  grid-column: span 2;
  max-width: 100%;
  height: 24rem;
}

@media only screen and (min-width: 1024px) {
  #logo {
    font-size: var(--size-4) !important;
  }

  .container {
    max-width: 128rem;
    padding-left: var(--size-4);
    padding-right: var(--size-4);
    margin: 0 auto;
  }

  .summary-layout {
    grid-template-columns: 25% 25% 1fr;
  }

  .summary-bar {
    grid-column: span 1;
  }

  .summary-line {
    grid-column: span 3;
  }
}
