@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

:root {
  --font-barcode: 'Libre Barcode 39 Text', system-ui;
  --size-1: 0.4rem;
  --size-2: 0.8rem;
  --size-3: 1.2rem;
  --size-4: 1.6rem;
  --size-5: 2rem;
  --size-6: 2.4rem;
  --size-7: 2.8rem;
  --size-8: 3.2rem;
  --size-9: 3.6rem;
  --size-10: 4rem;
  --size-11: 4.4rem;
  --size-12: 4.8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: var(--size-4);
  font-weight: 400;
  font-style: normal;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
}

#logo {
  font-family: var(--font-barcode) !important;
  font-size: var(--size-6) !important;
  line-height: 1;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 128rem;
    margin: 0 auto;
    padding-left: var(--size-8);
    padding-right: var(--size-8);
  }

  #logo {
    font-size: var(--size-9) !important;
  }
}
